# fly.toml app configuration file generated for conduit-mc on 2025-12-12T11:45:26Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

primary_region = 'lhr'

[build]

[[mounts]]
  source = 'conduit_data'
  destination = '/var/lib/matrix-conduit'

[http_service]
  internal_port = 6167
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
